# ==============================
# Server
# ==============================
PORT=7302

# ==============================
# Database (MongoDB)
# ==============================
DATABASE_URL=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/DATABASE

# ==============================
# Security
# ==============================
SALT_ROUND=10

# ==============================
# JWT
# ==============================
JWT_ACCESS_TOKEN=your_jwt_access_token
JWT_TOKEN_EXPIRES=3d

JWT_REFRESH_TOKEN=your_jwt_refresh_token
JWT_REFRESH_TOKEN_EXPIRES=7d

# ==============================
# URLs
# ==============================
FRONTEND_LIVE_URL=https://khushbuwaala.com
CLIENT_URL=https://khushbuwaala.com
BACKEND_LIVE_URL=http://api.khushbuwaala.com

# ==============================
# Admin
# ==============================
ADMIN_EMAIL=your_admin_email

# ==============================
# Brevo (Email)
# ==============================
BREVO_API_KEY=your_brevo_api_key

# ==============================
# GMAIL
# ==============================
GMAIL_USER=your_gmail_address
GMAIL_APP_PASSWORD=your_gmail_app_password

# ==============================
# Stripe
# ==============================
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

# ==============================
# Cloudinary
# ==============================
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# ==============================
# bKash (Sandbox)
# ==============================
BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta
BKASH_USERNAME=your_bkash_username
BKASH_PASSWORD=your_bkash_password
BKASH_API_KEY=your_bkash_api_key
BKASH_SECRET_KEY=your_bkash_secret_key

BKASH_GRANT_TOKEN_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/token/grant
BKASH_CREATE_PAYMENT_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/create
BKASH_EXECUTE_PAYMENT_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/execute
BKASH_REFUND_TRANSACTION_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/payment/refund

# ==============================
# DGePay Gateway Configuration
# ==============================
DGEPAY_BASE_URL=https://apiv2.dgepay.net/dipon/v3/payment_gateway
DGEPAY_CLIENT_ID=your_dgepay_client_id
DGEPAY_CLIENT_SECRET=your_dgepay_client_secret
DGEPAY_API_KEY=your_dgepay_api_key
DGEPAY_SECRET_KEY=your_dgepay_secret_key

DGEPAY_CALLBACK_BASE_URL=https://api.khushbuwaala.com
DGEPAY_SUCCESS_REDIRECT=https://khushbuwaala.com/thank-you
DGEPAY_FAIL_REDIRECT=https://khushbuwaala.com/error
